<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.normal.ordering"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.normal.ordering.tools.IApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/myicon"
        android:label="@string/app_name"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="com.normal.ordering.main.Welcome"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.normal.ordering.main.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.normal.ordering.userfragment.LoginActivity"
            android:label="@string/activity_login_label" >
        </activity>
        <activity
            android:name="com.normal.ordering.orderfragment.ConfiremOrder" 
            ></activity>
        <activity
            android:name="com.normal.ordering.orderfragment.DishesList" 
            ></activity>
        <activity
            android:name="com.normal.order.userfragment.MyOrder" 
            ></activity>
        <activity
            android:name="com.normal.ordering.userfragment.RegisterActivity"
            android:label="@string/activity_register_label" >
        </activity>
        <!-- permission 加上后，要求使用这个服务的应用程序必须定义和使用权限 -->
        <!--
        <service
            android:name=".PushService"
            android:enabled="true"
            android:permission="com.normal.ordering.Push_SERVICE_PERMISSION" >
        -->
        <!--
            <intent-filter>
                <action android:name="com.demo.ex021.MY_SERVICE"/>
            </intent-filter>
               </service>
        -->

        <service
            android:name="com.normal.ordering.service.PushService"
            android:enabled="true" >
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0xakvQdc119X3hvkdejTZbdj" />
    </application>

</manifest>